{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

{{!-- === + === додали з репозіторія Кирила ======= --}}
<div class="card m-4">


    <div class="card  m-2 ">
        <h1 class="m-2 text-success">Просто Марія</h1>
        <div class="m-3 text-end text-success"> Project Resume</div>

    </div>
    <br>

    <p class="m-2 text-primary text-center">
        Як написати резюме яке вистрілить – лайфхаки та рекомендації від нашої команди. Написати так, щоб роботодавець
        просто не міг залишитися байдужим. Про які хитрощі та нюанси варто пам'ятати при створенні потужного резюме?
        Розповідаємо у нашій статті.
    </p>
    <br>

    <h4 class="m-2 display-7">Список сторінок</h4>
    <br>

    <nav class="m-2">
        <div class="card col-2 m-2 text-center header"> <b class="m-3 text-dark">HTML</b>

            <a href=" /person" class="btn btn-secondary m-2">Person</a>
            <a href=" /bio" class="btn btn-secondary m-2">Bio</a>
            <a href=" /skills" class="btn btn-secondary m-2">Skills</a>
            <a href=" /education" class="btn btn-secondary m-2">Education</a>
            <a href=" /work" class="btn btn-secondary m-2">Work</a>
            <a href=" /facebook" class="btn btn-secondary m-2">Facebook</a>
            <a href=" /summary" class="btn btn-secondary m-2">Summary</a>
            <a href=" /program" class="btn btn-secondary m-2">Program</a>
            <a href=" /web" class="btn btn-secondary m-2">Web</a>

        </div>


        <div class="card col-2 m-2 text-center header"> <b class="m-3 text-primary">Bootstrap</b>

            <a href=" /js" class="btn btn-outline-primary m-2">Js</a>
            <a href=" /car" class="btn btn-outline-primary m-2">Car</a>
            <a href=" /mac" class="btn btn-outline-primary m-2">Mac</a>
            <a href=" /task21" class="btn btn-outline-primary m-2">Task21</a>
            <a href=" /task22" class="btn btn-outline-primary m-2">Task22</a>
            <a href=" /task31" class="btn btn-outline-primary m-2">Task31</a>

            <a href=" /shophome" class="btn btn-outline-primary m-2">Shophome</a>
            <a href=" /shoporder" class="btn btn-outline-primary m-2">Shoporder</a>
            <a href=" /shopcart" class="btn btn-outline-primary m-2">Shopcart</a>
            <a href=" /shopprofile" class="btn btn-outline-primary m-2">Shopprofile</a>
            <a href=" /shopreview" class="btn btn-outline-primary m-2">Shopreview</a>
            <a href=" /shopcatalog" class="btn btn-outline-primary m-2">Shopcatalog</a>

        </div>

    </nav>

</div>
{{!-- === ++ === додали з репозіторія Кирила ======= --}}




{{!-- <h1>Hello world</h1> --}}

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}