<nav>

	{{> linkfoot text="Skills" href = "/skills" line=true}}
	{{> linkfoot text="Summary" href = "/summary" line=true }}
	{{> linkfoot text="Person" href = "/person" line=true }}
	{{> linkfoot text="Bio" href = "/bio" line=true }}
	{{> linkfoot text="Education" href = "/education" line=true }}
	{{> linkfoot text="Program" href = "/program" line=true }}
	{{> linkfoot text="Web" href = "/web" line=true }}
	{{> linkfoot text="Js" href = "/js" line=true }}
	{{> linkfoot text="Car" href = "/car" line=true }}
	{{> linkfoot text="Mac" href = "/mac" line=true }}
	{{> linkfoot text="Facebook" href = "/facebook" line=true }}
	{{> linkfoot text="Task21" href = "/task21" line=true }}
	{{> linkfoot text="Task22" href = "/task22" line=true }}
	{{> linkfoot text="Task31" href = "/task31" line=true }}
	{{> linkfoot text="Work" href = "/work" line=true noLine=true}}

</nav>