<nav>

	{{> linkfoot text="Skills" href = "/skills" line=true}}
	{{> linkfoot text="Summary" href = "/summary" line=true }}
	{{> linkfoot text="Education" href = "/education" line=true }}
	{{> linkfoot text="Work" href = "/work" line=true noLine=true}}

</nav>